
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered" style="margin-top:30px">
    <tr>
        <td>ID</td>
        <td>Kategori Adı</td>
        <td>Kategori Açıklaması</td>
        <td>Kategori Durumu</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Kategori Açıklaması</td>
        <td>Aktif</td>
    </tr>
    <tr>
    <td>2</td>
    <td>Yazılım</td>
    <td>Kategori Açıklaması</td>
    <td>Aktif</td>
    </tr>

</table>
